DB_USER=USER
DB_PASSWORD=PASSWORD
DB_HOST=HOST
DB_PORT=PORT
DB_NAME=DATABASE_NAME

# openssl rand -hex 32  (generar aleatoria)
SECRET_KEY = "PUT_YOUR_SECRET_KEY_HERE"
ALGORITHM = "ALGORITHM_HERE"
ACCESS_TOKEN_EXPIRE_MINUTES = "TIME_IN_MINUTES_HERE"